api_secrets.*
.env
myenv
venv
rpi-rgb-led-matrix
.ipynb_checkpoints
gtfs_filtered
src/led-matrix.csv
led-matrix.csv
gtfs_full
temp.csv
temp.*
__pycache__
*animationcodes.csv
*animationcodes*.csv

db_timetable.csv
ratelimit.db
tmp
trip_statuses.csv
stoptimes_planned.csv
stoptimes.csv
request_log.csv
tripid_stretchid.csv